.form-container {
  width: 70%;
  padding: 30px 50px;
  margin: 50px 50px;

  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background: var(--White, #fff);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);

  .input-wrap {
    display: flex;
    align-items: center;

    width: 100%;
    border-bottom: 1px solid#DDD;
    width: 100%;

    margin-bottom: 4px;
    .input-title {
      width: 20%;
      color: #6f737d;
      font-family: Be Vietnam Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .input-box {
      width: 80%;
      padding: 15px;

      color: #6f737d;
      font-family: Be Vietnam Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      border: 1px solid #DDD;
      border-radius: 5px;
    }
  }
}
